*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
    text-transform: uppercase;
    background: coral;
    color: cornsilk;
    padding: 50px;
}
.nav{
    display: flex;
    background-color: darkgoldenrod;
    justify-content: space-around;
}
.nav a{
    color: darksalmon;
    text-decoration: none;
    text-align: align;
    padding: 10px 20px;
}
.nav a:hover{
    background-color: gold;
    color: black;
}
.side{
    flex: 30%;
    padding: 20px;
    background-color: burlywood;
}
.main{
    flex: 70%;
    background-color: cornsilk;
    padding: 20px;
}
.footer{
    padding: 20px;
    background-color: darkgrey;
    text-align: center;
    color: black;
}
.someimg{
    height: 50px;
    background-color: white;
    border: 1px solid gray;
}
.cont{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 700px){
    .cont,
    .nav{
        flex-direction: column;
    }
} 